*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

#Eclipse
.project

#executable files
MLStripper.pyc

#bundler stuff
/vendor
*.lock

#temp file
proyecto.doc
